#section3{
    .section1{
        padding:60px 30px;
        h2{
            margin-bottom:40px;
        }
        *{
            text-align: center;
        }
    }
    .section2{
        div{
            background-color: $cor1;
            padding:60px 30px;
            color:white;
            *{
                text-align:center;
            }
            p{
                margin-top:50px;
            }
            span{
                display:block;
                margin:30px auto;
                padding-bottom:50px;
                margin-bottom:0;
                text-align:center;
            }
            &:nth-child(1){
                background-color:$cor2;
                padding-bottom: 0;
            }
        }
    }
}